.hall {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw;

  .door {
    border-radius: 5px;
    height: 25rem;
    width: 15rem;
    border: 1px solid brown;
    position: relative;

    .image-win,
    .image-lose {
      z-index: -10;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70%;
      height: auto
    }

    .door-closed {
      height: 100%;
      width: auto;
      z-index: 5;
      background-color: saddlebrown;
      position: relative;
      transform-origin: left;
      transition: all 0.5s ease-in-out ;

      .door-knob {
        background-color: silver;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        position: absolute;
        top: 10rem;
        right: 0.5rem;
        z-index: 10;
      }
    }

    .open {
      transform: perspective(120rem) rotateY(-105deg);
    }

  }









}

