// The hall component houses the three doors.
.hall {

  // Styling for the outer door div. Basically the frame of each door
  .door {
    border-radius: 5px;
    border: 5px solid #2b1d0e;

    // Styling of each actual door classes and the setup for the open transition
    .door-closed,
    .door-winning{
      background-color: saddlebrown;
      transform-origin: left;
      transition: all 0.5s ease-in-out;

      // Styling of the door knob which turns green by the addition of the "selected" class when the door is selected.
      .door-knob {
        background-color: silver;
        border-radius: 50%;
      }

      .selected {
        background-color: green;
      }
    }

    // The classes for opening the door in two phases. First the losing door and then all to reveal a win.
    .open,
    .open-winning {
      transform: perspective(120rem) rotateY(-105deg);
    }

  }


}

